body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

/* LAYOUT */

.wrapper{
display:flex;
}

.main{
flex:1;
}

/* SIDEBAR */

.sidebar{

width:220px;
height:100vh;

background:#8B0000;

color:white;

padding:20px;

}

.sidebar h2{

text-align:center;

margin-bottom:30px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:10px;

margin-bottom:10px;

cursor:pointer;

border-radius:5px;

}

.sidebar li:hover{

background:#B22222;

}

/* NAVBAR */

.navbar-red{

background:linear-gradient(90deg,#8B0000,#B22222,#DC143C);

padding:15px;

color:white;

}

/* DASHBOARD */

.dashboard-card{

border:none;

border-radius:10px;

}

.card-red-1{background:#8B0000;color:white;}
.card-red-2{background:#B22222;color:white;}
.card-red-3{background:#DC143C;color:white;}
.card-red-4{background:#FF4D4D;color:white;}

/* CARD */

.card{

border-radius:10px;

box-shadow:0 4px 12px rgba(0,0,0,0.1);

border:none;

}

/* BUTTON */

.btn-primary{

background:#B22222;

border:none;

}

.btn-primary:hover{

background:#8B0000;

}

.footer{

margin-top:40px;

text-align:center;

padding:20px;

background:#8B0000;

color:white;

}

/* chart */

canvas{

max-height:300px;

}